<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Phonebook</title>
        <link href="/Public/styles.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <phonebook></phonebook>
        </div>

        <script src="/Public/script.js"></script>
    </body>
</html>